@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: "Poppins", sans-serif;
    /* margin: 0 !important; */
    /* padding: 0 !important; */
    box-sizing: border-box !important;  
    /* text-transform: capitalize; */
}
.gray{
    background: #e5e5e5;
}
body, .card-body, .col-md-8{
    background: #e5e5e5;
}

.navbar{
    background:whitesmoke;
}
 
.nav-link:hover{
    transition: .5s;
    color: orangered;
}
.d-none input{
    height: 50px !important;
    width: 400px !important;
    margin-bottom: 10px !important;
}
.d-none button{
    margin-bottom: 10px !important;
    width: 100px;
}
.carousel-item img{
    border-radius: 20px;
}
a{
    text-transform: capitalize;
}
p{
    text-indent: 100px;
    text-align: justify;
}

.btn-outline-primary{
    width: 200px;
    height: 50px;
    margin-top: 15px;

  
}
.btn-outline-dark{
    width: 100px;
}

.form-control{
    text-transform: none;
}
.nav-link{
    margin-left: 40px !important;
    transition: ease-in !important;
    transition-duration: .1s !important;

}

.floatingInput{
    text-transform: none !important;
}

.col-4{
    border: 2px solid;
}


.flex-lg-column .btn{
    width: 200px;
    margin-bottom: 20px;
} 
.flex-lg-column input{
    width: 500px;
}

.offcanvas {
    width: 700px !important;
}

.fa-paper-plane{
    color: rgb(28, 164, 237);
}

.follow i{
    font-size: 35px;

}
.follow i:nth-child(1){
    color:purple;
}
.follow i:nth-child(2){
    color:rgb(20, 219, 20);
}
.follow i:nth-child(3){
    color:rgb(240, 40, 80);
}
.follow i:nth-child(4){
    color:red;
}
.follow i:nth-child(5){
    color:blue;
}
.follow i:nth-child(6){
    color:rgb(34, 172, 241);
}

.winter{
    background: url(/Images/kids\ img\ 4.jpg) no-repeat;
    background-position: center;
    background-size: 100%;
    height: 500px;
    /* position: absolute; */
    backdrop-filter: blur(20px);
}
.discount{
    height: 500px;
    width: 100%;
    /* background: whitesmoke !important; */
    backdrop-filter: blur(5px);
    margin: 0;

}
