@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
}
.gray{
    background: #e5e5e5;
}
body{
    background: #e5e5e5;
}

.navbar{
    background:whitesmoke;
}
 
.nav-link:hover{
    transition: .5s;
    color: orangered;
}
.d-none input{
    height: 50px !important;
    width: 400px !important;
    margin-bottom: 10px !important;
}
.d-none button{
    margin-bottom: 10px !important;
    width: 100px;
}
.carousel-item img{
    border-radius: 20px;
}
a{
    text-transform: capitalize;
}
p{
    text-indent: 100px;
    text-align: justify;
}

.btn-outline-primary{
    width: 200px;
    height: 50px;
    margin-top: 15px;

  
}
.btn-outline-dark{
    width: 100px;
}

.form-control{
    text-transform: none;
}
.nav-link{
    margin-left: 40px !important;
    transition: ease-in !important;
    transition-duration: .1s !important;

}

.floatingInput{
    text-transform: none !important;
}

.col-4{
    border: 2px solid;
}


.flex-lg-column .btn{
    width: 200px;
    margin-bottom: 20px;
} 
.flex-lg-column input{
    width: 500px;
}

.offcanvas {
    width: 700px !important;
}

.carousel-control-prev-icon{
    background-color:rgb(251, 196, 147);
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.carousel-control-next-icon{
    background-color:rgb(246, 201, 162);
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.para{
    color: blue;
    text-shadow: 1px 1px 2px black;
}
.w-5{
    width: 700px;
    /* word-spacing: -5px !important; */
}
i{
    font-size: 50px;
}
.fa-heart{
    color: red !important;
    /* margin-left: 100px !important; */

}
.fa-cart-shopping{
    color: rgb(83, 129, 229);
   
}
.icon{
    margin-left: 50px !important;
    margin-left: 20px !important;
    position: relative !important;
}

.icon::before{
    content: "7" !important;
    position: absolute !important;
    top: -30px !important;
    left: 45px !important;
    height: 30px !important;
    width: 30px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    color: whitesmoke ;
    font-weight: 700;
    border-radius: 20px !important;
    background: rgb(11, 78, 234) !important;

}

.icon1{
    position: relative !important;
}

.icon1::before{
    content: "5" !important;
    position: absolute !important;
    top: -30px !important;
    left: 50px !important;
    height: 30px !important;
    width: 30px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    color: whitesmoke ;
    font-weight: 700;
    border-radius: 20px !important;
    background: rgb(11, 78, 234) !important;

}
.w-5 span{
    color: rgb(16, 16, 236);
    text-shadow: 1px 1px 2px black;
}

.fa-paper-plane{
    color: rgb(28, 164, 237);
}

.follow i{
    font-size: 35px;

}
.follow i:nth-child(1){
    color:purple;
}
.follow i:nth-child(2){
    color:rgb(20, 219, 20);
}
.follow i:nth-child(3){
    color:rgb(240, 40, 80);
}
.follow i:nth-child(4){
    color:red;
}
.follow i:nth-child(5){
    color:blue;
}
.follow i:nth-child(6){
    color:rgb(34, 172, 241);
}

.winter{
    background: lightblue;
}

.shop{
    width: 300px !important;
    margin: 100px 600px !important;
    transition: .5s ease-out;
}
.shop:hover{
    background: rgb(63, 112, 235) !important;
    /* transition: ease-in-out !important; */
}